<%- include('partials/head') %>

<body class="animsition">
  <%- include('partials/navbar') %>

  <!-- Title page -->
  <section
    class="bg-img1 txt-center p-lr-15 p-tb-92"
    style="background-image: url('https://res.cloudinary.com/dlepjhjb4/image/upload/v1730884739/assets/sg8xqvl9xife6p7ktrtv.jpg')"
  >
    <h2 class="ltext-105 cl0 txt-center">About</h2>
  </section>

  <!-- Content page -->
  <section class="bg0 p-t-75 p-b-120">
    <div class="container">
      <div class="row p-b-148">
        <div class="col-md-7 col-lg-8">
          <div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
            <h3 class="mtext-111 cl2 p-b-16">Our Story</h3>

            <p class="stext-113 cl6 p-b-26">
              Welcome to our store, where photography meets passion. Founded by photographers, for photographers, we specialize in high-quality cameras, lenses, and accessories designed to help you capture every moment in stunning detail. Our journey began with a love for the art of photography, and now, we’re here to support photographers of all levels with gear that elevates their craft.
            </p>

            <p class="stext-113 cl6 p-b-26">
              Our selection includes a wide range of cameras, from entry-level models to professional-grade equipment, as well as essential camera accessories like tripods, bags, and memory cards. We know how important it is to have the right tools, so we handpick each product for quality and performance.
            </p>
          </div>
        </div>

        <div class="col-11 col-md-5 col-lg-4 m-lr-auto">
          <div class="how-bor1">
            <div class="hov-img0">
              <img src="https://res.cloudinary.com/dlepjhjb4/image/upload/v1730884744/assets/ao7yg9mjkcuk3t4ibq2b.jpg" alt="Our Store" />
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="order-md-2 col-md-7 col-lg-8 p-b-30">
          <div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
            <h3 class="mtext-111 cl2 p-b-16">Our Mission</h3>

            <p class="stext-113 cl6 p-b-26">
              Our mission is simple: to empower photographers with the best tools and knowledge to capture life’s moments. We aim to make photography accessible and enjoyable, providing products that enhance creativity and technical skill.
            </p>

            <div class="bor16 p-l-29 p-b-9 m-t-22">
              <p class="stext-114 cl6 p-r-40 p-b-11">
                “Photography is more than a medium for factual communication of ideas. It is a creative art.” 
              </p>

              <span class="stext-111 cl8"> - Ansel Adams </span>
            </div>
          </div>
        </div>

        <div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
          <div class="how-bor2">
            <div class="hov-img0">
              <img src="https://res.cloudinary.com/dlepjhjb4/image/upload/v1730884733/assets/c5hiv1dpnqur1kpzsnbp.jpg" alt="Our Mission" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>

<%- include('partials/footer') %>
