<%- include('partials/head') %>

<body class="animsition">
  <%- include('partials/navbar') %>

  <!-- Title page -->
  <section
    class="bg-img1 txt-center p-lr-15 p-tb-92"
    style="background-image: url('https://res.cloudinary.com/dlepjhjb4/image/upload/v1730884724/assets/hrogny8osakhuaipxf9y.jpg')"
  >
    <h2 class="ltext-105 cl0 txt-center">Contact Us</h2>
  </section>

  <!-- Contact Information -->
  <section class="bg0 p-t-75 p-b-120">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-6 p-b-30">
          <h3 class="mtext-111 cl2 p-b-16">Our Address</h3>
          <p class="stext-113 cl6 p-b-26">
            36, Malappuram Dt, <br>
            India, Pin 676507
          </p>
        </div>

        <div class="col-md-6 col-lg-6 p-b-30">
          <h3 class="mtext-111 cl2 p-b-16">Contact Number</h3>
          <p class="stext-113 cl6 p-b-26">
            (+91) 97 785 74627
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <h3 class="mtext-111 cl2 p-b-16">Connect with Us</h3>
          <p class="stext-113 cl6 p-b-26">
            Stay connected with us through social media or feel free to visit our website for more updates and offers. We're always happy to hear from fellow photographers and customers!
          </p>

          <div class="social-links">
            <a href="https://www.instagram.com/kr_i_s_h__/" class="stext-113 cl6 p-r-20" target="_blank">Instagram</a> | 
            <a href="https://www.linkedin.com/in/amalkrishanp/" class="stext-113 cl6 p-r-20" target="_blank">LinkedIn</a> | 
            <a href="https://github.com/C00lPIXER" class="stext-113 cl6 p-r-20" target="_blank">GitHub</a> | 
            <a href="https://wa.me/qr/SCAEAUKXX2BRP1 " class="stext-113 cl6 p-r-20" target="_blank">WhatsApp</a> | 
            <a href="https://amalkrishna.tech" class="stext-113 cl6" target="_blank">Personal Website</a>
          </div>
        </div>
      </div>
    </div>
  </section>

</body>

<%- include('partials/footer') %>
