<%- include('partials/head') %>

<body class="animsition">
  <%- include('partials/navbar') %>

  <!-- Error Page -->
  <section
    class="bg-img1 txt-center p-lr-15 p-tb-92"
    style="background-image: url('https://res.cloudinary.com/dlepjhjb4/image/upload/v1730884724/assets/hrogny8osakhuaipxf9y.jpg')"
  >
    <h2 class="ltext-105 cl0 txt-center">500 - Internal Server Error</h2>
  </section>

  <!-- Error Information -->
  <section class="bg0 p-t-75 p-b-120">
    <div class="container text-center">
      <p class="stext-113 cl6 p-b-26">
        Oops! Something went wrong on our end. Please try again later.
      </p>
      <a href="/" class="btn btn-dark">Go Back to Home</a>
    </div>
  </section>

</body>

<%- include('partials/footer') %>
